a:link { text-decoration: none;}

a:visited { text-decoration: none;}

* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    min-width: 1000px;
}

.upper_side_bar {
    z-index: 3;
    height: 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #ffffff;
    opacity: 90%;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 1;
    display: flex;
    margin-left: 25px;
}

.login_wrapper {
    display: flex;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    width: 200px;
    height: 30px;
    top: 50%;
    right: 10px;
    margin-right: 30px;
    font-size: 14px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.upper_element {
    font-size: 20px;
    font-family: NanumSquare;
    margin-right: 15px;
    color: #999999;
}

.upper_element:visited {
    color: #999999;
}

.upper_element:hover {
    color: #222222;
}

.backboard {
    width: 100%;
    height: 35%;
    background: rgba(179,229,252,0.30000001192092896);
    opacity: 1;
    position: absolute;
    top: 8%;
    left: 0px;
    overflow: hidden;
}

.introduction1 {
    width: 568px;
    color: rgba(64,64,64,1);
    position: absolute;
    top: 25%;
    left: 5%;
    font-family: NanumSquare;
    font-weight: 700;
    font-size: 1.9em;
    line-height: 250%;
    white-space: pre;
    opacity: 1;
    text-align: left;
    word-break: keep-all;
    text-decoration: none;
}

.introduction1_line {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 7px;
}

.introduction2_sub {
    color: #777777;
}

.introduction2 {
    width: 462px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 25%;
    right: 5%;
    font-family: NanumSquare;
    font-weight: 700;
    font-size: 20px;
    line-height: 250%;
    opacity: 1;
    text-align: right;
}

.introduction_location {
    width: 569px;
    height: 154px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 3%;
    overflow: hidden;
}

.signup_wrapper {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    width: 700px;
}

.newbie {
    text-align: center;
    width: 100%;
    color: rgba(64,64,64,1);
    top: 640px;
    font-family: NanumSquare;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
}

.newbie:hover {
    text-decoration: underline;
}

.newbie_under_line {
    border-style: solid;
    border-width: thin;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1);
    width: 160px;
    top: 670px;
    left: 50%;
    opacity: 0.8;
    margin: auto;
}

.username_wrapper {
    display: flex;
    flex-direction: column;
    /*margin: 550px 20% 0 20%;*/
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
}

.inner_username_wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 80%;
}

.user_name_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.username_input_box {
    position: relative;
    width: 500px;
    height: 40px;
    font-size: 1.5em;
    text-align: center;
}

.username_submitbutton {
    background: rgba(64,64,64,1);
    width: 500px;
    margin-top: 10px;
    color: white;
    position: relative;
    height: 40px;
    font-family: NanumSquare;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 3px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.member_result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 250px;
    height: 50px;
    color: #222222;
    background-color: #ffffff;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.3s;
    padding: 8px 0;
}

.member_result:hover {
    background-color: #dadfe3;
}

#member_result_text {
    vertical-align: middle;
}

html, body {
    margin: 0;
    padding: 0;
}

#wrap {
    z-index: -1;
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

section {
    padding-bottom: 105px;
}

footer {
    width: 100%;
    height: 8%;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080; font-size: 11px;
}

footer a:visited {
    color: #808080;
}

footer p {
    margin-top: 0; margin-bottom: 0;
}

footer p span {
    display: inline-block;
    margin-left: 20px;
}