

a:link { color: black; text-decoration: none;}

a:visited { color: black; text-decoration: none;}

a:hover { color: royalblue; text-decoration: underline;}



.hello {
    background-color: white;
    font-size: 60px;
    font-weight: 700;
    margin: 10% 20% 0 20%;
    text-align: center;
}

.welcome_member {
    text-align: center;
    font-size: 30px;
    margin: 5px 0 5px 0;
}

.username_wrapper {
    display: flex;
    margin: 20px 20% 0 20%;
    justify-content: center;
}

.username_input_box {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.username_submitbutton {
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    width: 90px;
    font-weight: 400;
    margin-left: 6px;
    font-size: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.result_wrapper {
    /*background-color:;*/
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.explain {
    width: 300px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
}

.result_element {
    font-size: 30px;
    text-align: center;
    margin-bottom: 8px;
}

.element_wrapper {
    justify-content: center;
    /*background-color: aqua;*/
}