a:link { text-decoration: none;}

a:visited { text-decoration: none;}

* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}


.upper_side_bar {
    z-index: 3;
    height: 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #ffffff;
    opacity: 90%;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    position: absolute;
    top: 25px;
    left: 25px;
    opacity: 1;
    display: flex;
    margin-left: 25px;
}

.login_wrapper {
    display: flex;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    width: 200px;
    height: 30px;
    top: 50%;
    right: 10px;
    margin-right: 30px;
    font-size: 14px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.upper_element {
    font-size: 20px;
    font-family: NanumSquare;
    margin-right: 15px;
    color: #999999;
}

.upper_element:visited {
    color: #999999;
}

.upper_element:hover {
    color: #222222;
}


.main_banner {
    width: 100%;
    height: 50px;
    /*margin: 150px 0 0 5%;*/
    position: absolute;
    top: 150px;
    left: 10%;
}

.main_message {
    position: relative;
    font-family: NanumSquare;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 0.5em;
}

.newbie_wrapper {
    display: flex;
    /*margin: 20px 10% 0 10%;*/
    justify-content: center;
    align-content: center;
    height: 300px;
    position: absolute;
    top: 180px;
    width: 1500px;
    /*top: 50%;*/
    /*transform: translate(-50%, 0%);*/
}

.newbie_area {
    position: relative;
    width: 250px;
    height: 250px;
    background-position: center center;
    opacity: 1;
    margin: 5% 5% 0;
    flex-flow: row nowrap;
    overflow: hidden;
}

.newbie_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-position: center center;
    background: linear-gradient(rgba(229,229,229,1), rgba(229,229,229,0));
    opacity: 1;
    overflow: hidden;
    z-index: 2;
}

.newbie_main {
    width: 90%;
    color: rgba(64,64,64,1);
    margin: 40% 10% 10% 0;
    font-family: NanumSquare;
    font-weight: 700;
    font-size: 1.8rem;
    opacity: 1;
    text-align: right;
    justify-content: flex-end;
    z-index: 1;
}

.newbie_main:hover {
    color: #999999;
}


.newbie_text {
    width: 200px;
    color: rgba(64,64,64,1);
    margin: 30px 0 0 30px;
    font-family: NanumSquare;
    font-weight: Bold;
    font-size: 1.5rem;
    line-height: 150%;
    opacity: 1;
    text-align: left;
    z-index: 2;
}

html, body {
    margin: 0;
    padding: 0;
}

#wrap {
    z-index: -1;
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

section {
    padding-bottom: 105px;
}

footer {
    width: 100%;
    height: 8%;
    bottom: 0px;
    position: absolute;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color: #808080;
    font-size: 11px;
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080; font-size: 11px;
}

footer a:visited {
    color: #808080;
}

footer p {
    margin-top: 0; margin-bottom: 0;
}

footer p span {
    display: inline-block;
    margin-left: 20px;
}