<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css?after}"
          href="css/main.css" rel="stylesheet">
    <title>Santa BaekJoon</title>
  </head>
  <body>
    <div class="upper_side_bar">
      <div>
        <a class="logo" href="/">Home</a>
      </div>
      <div class="login_button">
        <a class="upper_element" th:if="${principal} == 'anonymousUser'" href="/login">
          로그인
        </a>
        <a class="upper_element" th:if="${principal} != 'anonymousUser'" href="/logout">
          로그아웃
        </a>
        <a class="upper_element" th:if="${principal} == 'anonymousUser'" href="/signup">
          회원가입
        </a>
      </div>
    </div>
    <div class='main_banner'>
      <span class="left_message">
        코딩테스트를 준비하는 당신에게<br>
        다음에 무슨 문제를 풀지 고민인 당신에게
      </span>
    </div>
    <div th:if="${principal} != 'anonymousUser'" th:text="${principal} + '님 환영합니다'" class="welcome_member">
      anonymous 님 환영합니다.
    </div>
    <div class='username_wrapper'>
      <form th:if="${principal} == 'anonymousUser'" action= "nologin" method='GET'>
        <input class="username_input_box" type="text" placeholder="백준 username" name="bojId">
        <button class="username_submitbutton" type="submit">submit</button>
      </form>
      <a href="/result">
        <div th:if="${principal} != 'anonymousUser'">
          맞춤추천 확인
        </div>
      </a>
    </div>
  </body>
</html>