<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link th:href="@{/css/index.css?after}"
          href="css/main.css" rel="stylesheet">
    <title>Santa BaekJoon</title>
</head>
<body>
<div class="upper_side_bar">
    <div>
        <a href="/">
            <img src="SantaBOJ_logo.png" a class="logo" href="/"></a>
        </a>
    </div>
    <div class="login_wrapper">
        <a class="upper_element" th:if="${principal} == 'anonymousUser'" href="/login">
            로그인
        </a>
        <a class="upper_element" th:if="${principal} != 'anonymousUser'" href="/logout">
            로그아웃
        </a>
        <a class="upper_element" th:if="${principal} == 'anonymousUser'" href="/signup">
            회원가입
        </a>
    </div>
</div>

<div class="backboard">
    <span class="introduction1"><span class="introduction1_line">코딩 테스트를 준비하는 당신</span>에게<span class="introduction1_line"><br>다음에 무슨 문제를 풀지 고민인 당신</span>에게</span>
    <span class="introduction2">알<span class="introduction2_sub">아서</span>
        잘 딱 깔<span class="introduction2_sub">끔하고</span>
        센<span class="introduction2_sub">스있게</span><br>문제를 추천해주는 서비스</span>
    </span>
</div>

<div class="username_wrapper">
    <div class="inner_username_wrapper">
        <form class="user_name_form" th:if="${principal} == 'anonymousUser'" action= "nologin" method="GET">
            <input class="username_input_box" type="text" placeholder="백준 username" name="bojId">
            <button class="username_submitbutton" type="submit">SUBMIT</button>
        </form>
        <a href="/result">
            <div class="member_result" th:if="${principal} != 'anonymousUser'">
                <span id="member_result_text">맞춤추천 확인</span>
            </div>
        </a>
    </div>
    <div class="signup_wrapper">
        <div class="newbie"><a href="/newbie" class="newbie">백준이 처음이라면?</a></div>
        <!--    <div class="newbie_under_line"></div>-->
    </div>
</div>
<div id='wrap'>
    <footer>
        <nav>
<!--            <a href='https://cocoder.tistory.com' target='_blank'>Blog</a> |-->
<!--            <a href='https://github.com/cocoder16' target='_blank'>Github</a>-->
        </nav>
        <p>
            <span>Boostcamp-AI-tech-3 RecSys-05</span><br/>
            <!--        <span>이메일 : cocoder16@gmail.com</span><br/>-->
            <span>Copyright 2022. 알잘딱깔센. All Rights Reserved.</span>
        </p>
    </footer>
</div>

</body>
</html>
