<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css">
    <link th:href="@{/css/nologin.css}"
          href="css/main.css" rel="stylesheet">
    <title>Santa BaekJoon</title>
</head>
<body>
<div class="upper_side_bar">
    <div>
        <a href="/">
            <img src="SantaBOJ_logo.png" a class="logo" href="/"></a>
        </a>
    </div>
    <div class="login_wrapper">
        <a class="upper_element" th:if="${principal} == 'anonymousUser'" href="/login">
            로그인
        </a>
        <a class="upper_element" th:if="${principal} != 'anonymousUser'" href="/logout">
            로그아웃
        </a>
        <a class="upper_element" th:if="${principal} == 'anonymousUser'" href="/signup">
            회원가입
        </a>
    </div>
</div>
<div class='hello'><span>당신의</span>님의 문제 추천 결과!🎅</div>
<div class='result_wrapper'>
    <div class="element_wrapper">
        <div class="explain">추천 List</div>
        <ul th:each="item: ${predictResult.getProblems}">
            <a th:href="@{|https://www.acmicpc.net/problem/${item['output']}|}" target="_blank" href="https://www.acmicpc.net/problem/1000">
                <li class="result_element" th:text="${item['output']}">item</li>
            </a>
        </ul>
    </div>
</div>
</body>
</html>