beautifulsoup4==4.9.3
fastapi==0.78.0
httpx==0.23.0
mlflow==1.26.0
nest-asyncio==1.5.5
numpy==1.19.2
pydantic==1.9.1
pandas==1.4.2
scikit-learn==1.0.2
scipy==1.8.0
torch==1.10.0
uvicorn==0.17.6
protobuf==3.20.1
google-cloud-storage==2.3.0